@import '../../../styles/colors.scss';

.videoCard {
    display: block;
    position: relative;

    .imageContainer {
        border: 3px solid $color-primary-medium;
        border-radius: 10px !important;
        max-width: 80vw !important;
    }

    img {
        border-radius: 10px !important;
        max-width: 80vw !important;
    }

    h4 {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 20pt;
        text-align: center;
        color: transparent;
        transition: 0.5s;
        padding: 70px 25px 0;
        margin: 0;
        z-index: 1000;

        &:hover {
            color: white;
            background-color: rgba(0, 0, 0, 0.466);
        }
    }
}