$color-primary-medium: #2A7AE4;

$color-black-dark: rgba(0, 0, 0, 0.9);
$color-black-medium: rgba(0, 0, 0, 0.6);
$color-black-light: rgba(0, 0, 0, 0.5);
$color-black-lighter: #9E9E9E;
$color-gray-darker: #53585D;
$color-gray-dark: #C2C2C2;
$color-gray-medium: #E5E5E5;
$color-gray-light: #F5F5F5;

$color-error-dark: #C62828;
$color-error-medium: #E53935;
$color-error-light: #FCE7E7;

$color-category1: #6BD1FF;
$color-category2: #00C86F;
$color-category3: #FF8C2A;
$color-category4: #DC6EBE;
